[submodule "nfa-bench"]
	path = nfa-bench
	url = git@github.com:VeriFIT/nfa-bench.git
[submodule "tools/mata"]
	path = tools/mata
	url = git@github.com:VeriFIT/mata.git
[submodule "tools/Automata"]
	path = tools/Automata
	url = git@github.com:VeriFIT/Automata.git
[submodule "tools/brics"]
	path = tools/brics
	url = git@github.com:VeriFIT/mata-comparison-brics.git
[submodule "tools/nfa-program-parser"]
	path = tools/nfa-program-parser
	url = git@github.com:VeriFIT/nfa-program-parser.git
