[submodule "nfa-bench"]
	path = nfa-bench
	url = git@github.com:VeriFIT/nfa-bench.git
[submodule "results"]
	path = results
	url = git@github.com:VeriFIT/mata-comparison-results.git
[submodule "tools/mata"]
	path = tools/mata
	url = git@github.com:VeriFIT/mata.git
[submodule "tools/Automata"]
	path = tools/Automata
	url = git@github.com:VeriFIT/Automata.git
[submodule "tools/brics"]
	path = tools/brics
	url = git@github.com:VeriFIT/mata-comparison-brics.git
[submodule "tools/vata"]
	path = tools/vata
	url = git@github.com:VeriFIT/mata-comparison-vata.git
[submodule "tools/mona"]
	path = tools/mona
	url = git@github.com:VeriFIT/mata-comparsion-mona.git
